:root {
    --background: #eceff4;
    --light-highlight: #e5e9f0;
    --dark-highlight: #d8dee9;
    --main-color-highlight: #88c0d0;
    --secondary-color-highlight: #8fbcbb;
    --font-color: #3b4252;
}

* {
    padding: 0;
    margin: 0;
    color: var(--font-color);
}

body {
    background-color: var(--background);
}

.screen {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a clicks b"
    "c button d"
    "e f g";
}

#button {
    height: 100px;
    width: 100px;
    background-color: var(--main-color-highlight);
    border: none;
    border-radius: 20;
    transition: transform 7ms;
    place-self: center;
    grid-area: button;
}

#button:active {
    transform: scale(0.94);
}

#clicks {
    font-size: 5rem;
    grid-area: clicks;
    justify-self: center;
    align-self: end;
}